@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300&subset=latin,cyrillic-ext);
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@font-face {
  font-family: "CoCo";
  src: url("../fonts/coco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  color: black;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif; }

.btn {
  padding: 12px 25px;
  font-weight: bolder;
  border: 1px solid #c2c2c2;
  letter-spacing: 0.2px; }

.btn-primary {
  font-weight: normal;
  background-image: -webkit-linear-gradient(top, #1565c0 0%, #0d47a1 100%);
  background-image: -o-linear-gradient(top, #1565c0 0%, #0d47a1 100%);
  background-image: linear-gradient(to bottom, #1565c0 0%, #0d47a1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1565C0', endColorstr='#FF0D47A1', GradientType=0);
  border: none;
  border-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 40px;
  margin-right: 11px; }

.act {
  color: #0288d1; }

.no_padding.container, .no_padding.container-fluid,
.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

.navbar.navbar-default {
  position: relative; }
  .navbar.navbar-default .logo {
    font-family: "CoCo", sans-serif;
    padding-top: 68px;
    font-size: 36px;
    color: #000000;
    margin: 0 auto;
    width: 517px;
    text-align: center; }

.navbar-default {
  border: none; }
  .navbar-default .navbar-top-part .navbar-left, .navbar-default .navbar-top-part .navbar-right {
    padding-top: 54px; }
    .navbar-default .navbar-top-part .navbar-left a, .navbar-default .navbar-top-part .navbar-right a {
      color: black;
      border-top: 2px solid transparent;
      font-weight: 700; }
      .navbar-default .navbar-top-part .navbar-left a.active, .navbar-default .navbar-top-part .navbar-left a:hover, .navbar-default .navbar-top-part .navbar-right a.active, .navbar-default .navbar-top-part .navbar-right a:hover {
        border-color: #455a64; }
    .navbar-default .navbar-top-part .navbar-left a:last-child, .navbar-default .navbar-top-part .navbar-right a:last-child {
      font-weight: normal; }
  .navbar-default .navbar-nav li a {
    margin-right: 55px; }
  .navbar-default .navbar-nav li a.menu-ctg-top {
    color: #c2c2c2; }
  .navbar-default .navbar-nav li:last-child a {
    margin-right: 24px; }
  .navbar-default .navbar-nav span.tel-number {
    font-weight: normal; }
  .navbar-default .navbar-bottom-part .container-fluid {
    padding-top: 38px; }
    .navbar-default .navbar-bottom-part .container-fluid a.btn {
      font-size: 18px;
      color: #595959;
      border: none; }
    .navbar-default .navbar-bottom-part .container-fluid .navbar-left li a {
      color: black;
      font-size: 18px;
      font-weight: 600;
      margin-right: 70px; }
      .navbar-default .navbar-bottom-part .container-fluid .navbar-left li a:hover {
        color: #e91e63; }

#bs-navbar-collapse-1 {
  padding-right: 0px; }

#lp-carousel .carousel-indicators li {
  background-color: #e3e3e3; }
  #lp-carousel .carousel-indicators li .indicator {
    font-size: 8px;
    margin-right: 6px;
    background-color: #e3e3e3; }
  #lp-carousel .carousel-indicators li .active {
    background-color: red;
    border-color: #b6b9bb;
    font-size: 8px; }
#lp-carousel .carousel-inner .item {
  height: 458px;
  overflow: hidden; }
  #lp-carousel .carousel-inner .item .bg {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    min-height: 458px; }
  #lp-carousel .carousel-inner .item .item-content {
    position: absolute;
    left: 0;
    top: 171px;
    width: 100%; }
    #lp-carousel .carousel-inner .item .item-content .center {
      margin: 0 auto;
      width: 453px; }
      #lp-carousel .carousel-inner .item .item-content .center .description {
        font-size: 36px;
        padding-bottom: 7px;
        font-weight: 600; }
        #lp-carousel .carousel-inner .item .item-content .center .description .description-part2 {
          margin-left: 49px; }
      #lp-carousel .carousel-inner .item .item-content .center .sale {
        font-size: 12px;
        color: #c2c2c2;
        padding-bottom: 36px;
        padding-left: 34px; }

.content {
  padding-top: 14px; }
  .content .col-lg-3.col-md-3 {
    overflow: hidden; }
  .content .picture-sm-top, .content .picture-sm-top-second, .content .picture-big-top, .content .sp-pro-picture-sm, .content .sp-pro-picture-sm-second {
    padding: 56px 41px 26px;
    background-color: #fafafa;
    width: 100%;
    float: left;
    display: block;
    font-weight: 600; }
    .content .picture-sm-top .pic-description, .content .picture-sm-top-second .pic-description, .content .picture-big-top .pic-description, .content .sp-pro-picture-sm .pic-description, .content .sp-pro-picture-sm-second .pic-description {
      padding-top: 24px;
      text-align: center; }
    .content .picture-sm-top .picture, .content .picture-sm-top-second .picture, .content .picture-big-top .picture, .content .sp-pro-picture-sm .picture, .content .sp-pro-picture-sm-second .picture {
      text-align: center; }
  .content .picture-sm-top-second, .content .picture-big-top, .content .sp-pro-picture-sm {
    padding: 0 70px 48px 70px;
    margin-left: 0; }
    .content .picture-sm-top-second .pic-description, .content .picture-big-top .pic-description, .content .sp-pro-picture-sm .pic-description {
      padding-bottom: 22px; }
  .content .picture-big-top {
    padding: 0 80px 46px 80px;
    float: none;
    display: block;
    height: 317px;
    overflow: hidden; }
    .content .picture-big-top .picture-big {
      text-align: center; }
    .content .picture-big-top .pic-description {
      padding-bottom: 22px; }
    .content .picture-big-top img.bg {
      width: 100%;
      min-height: 200px; }
  .content .sp-pro-picture-sm .pic-description {
    padding-bottom: 4px; }
  .content .sp-pro-picture-sm .for-person {
    padding-bottom: 22px;
    color: #c2c2c2;
    text-align: center; }
  .content .sp-pro-picture-sm-second {
    padding: 21px 41px 48px; }
    .content .sp-pro-picture-sm-second .pic-description {
      padding-top: 0px;
      padding-bottom: 4px; }
    .content .sp-pro-picture-sm-second .for-person {
      color: #c2c2c2;
      text-align: center;
      padding-bottom: 37px; }

.con-bottom-part .news {
  text-align: center;
  width: 428px;
  float: left;
  margin-right: 75px;
  margin-left: 62px; }
  .con-bottom-part .news .news-header {
    padding-bottom: 20px;
    font-size: 36px; }
  .con-bottom-part .news .news-text {
    padding-bottom: 60px;
    font-size: 16px; }
  .con-bottom-part .news .line {
    border: 2px solid #c2c2c2;
    border-top-color: transparent;
    height: 15px;
    width: 247px;
    margin: 0 auto 30px; }
  .con-bottom-part .news .btn {
    background-color: #1F87D7;
    margin-bottom: 35px; }
  .con-bottom-part .news .news-fotter span {
    color: #9e9e9e; }
.con-bottom-part .product .product-discription {
  float: left;
  margin-right: 62px; }
  .con-bottom-part .product .product-discription .for-big-kids {
    padding-top: 10px; }
  .con-bottom-part .product .product-discription .pr-dis-discription {
    padding-top: 20px;
    width: 200px; }
  .con-bottom-part .product .product-discription .btn {
    margin-top: 80px; }
.con-bottom-part .product .pr-dis-picture img.bg {
  max-width: 633px;
  width: 633px; }

.footer .one-click {
  background-color: rgba(2, 169, 255, 0.23);
  height: 75px;
  display: block; }
  .footer .one-click .text-one-click {
    padding-top: 28px;
    text-align: center;
    display: block;
    font-size: 17px;
    font-weight: 600; }
.footer .bot-menu.navbar .container-fluid ul.nav {
  float: left;
  margin-left: 20px; }
  .footer .bot-menu.navbar .container-fluid ul.nav li a {
    color: #c2c2c2;
    white-space: pre-line;
    font-size: 12px; }
  .footer .bot-menu.navbar .container-fluid ul.nav li a.lucy-polly {
    font-size: 12px;
    color: black;
    padding-bottom: 32px; }
  .footer .bot-menu.navbar .container-fluid ul.nav li a.list-head {
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 32px; }
  .footer .bot-menu.navbar .container-fluid ul.nav li a.list-bottom {
    font-size: 10px; }

/*# sourceMappingURL=main.css.map */
