@import "base"

body
  color: #000000
  position: relative

.navbar.navbar-default
  position: relative

  .logo
    position: absolute
    top: 42px
    left: 664px
    font-size: 36px
    color: #000000

.navbar-default
  border: none
  .navbar-top-part

    .navbar-left,.navbar-right
      padding-top: 54px
      a
        color: black
        border-top: 5px solid transparent
        &:hover
          border-top: 5px solid grey


  .navbar-nav
    li
      a
        margin-right: 55px
      a.menu-ctg-top
        color: $base-color-grey

      &:last-child a
        margin-right: 24px


    span.tel-number
      font-weight: normal

  .navbar-bottom-part .container-fluid
    padding-top: 74px

    a.btn
      font-size: $base-font-size
      color: #595959

    .navbar-left li
      a
        color: black
        font-size: $base-font-size
        margin-right: 70px
        &:hover
          color: #e91e63


#bs-navbar-collapse-1
  padding-right: 0px




