body {
  color: black;
  font-weight: bold; }

.btn {
  padding: 12px 25px;
  font-weight: bolder;
  border: 2px solid #c2c2c2; }

.btn-primary {
  background-color: #2012cb;
  border-color: #2012cb;
  margin-left: 42px;
  margin-right: 6px; }

.act {
  color: #0288d1; }

.no_padding.container, .no_padding.container-fluid,
.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

body {
  color: #000000;
  position: relative; }

.navbar.navbar-default {
  position: relative; }
  .navbar.navbar-default .logo {
    position: absolute;
    top: 42px;
    left: 664px;
    font-size: 36px;
    color: #000000; }

.navbar-default {
  border: none; }
  .navbar-default .navbar-top-part .navbar-left, .navbar-default .navbar-top-part .navbar-right {
    padding-top: 54px; }
    .navbar-default .navbar-top-part .navbar-left a, .navbar-default .navbar-top-part .navbar-right a {
      color: black;
      border-top: 5px solid transparent; }
      .navbar-default .navbar-top-part .navbar-left a:hover, .navbar-default .navbar-top-part .navbar-right a:hover {
        border-top: 5px solid grey; }
  .navbar-default .navbar-nav li a {
    margin-right: 55px; }
  .navbar-default .navbar-nav li a.menu-ctg-top {
    color: #c2c2c2; }
  .navbar-default .navbar-nav li:last-child a {
    margin-right: 24px; }
  .navbar-default .navbar-nav span.tel-number {
    font-weight: normal; }
  .navbar-default .navbar-bottom-part .container-fluid {
    padding-top: 74px; }
    .navbar-default .navbar-bottom-part .container-fluid a.btn {
      font-size: 18px;
      color: #595959; }
    .navbar-default .navbar-bottom-part .container-fluid .navbar-left li a {
      color: black;
      font-size: 18px;
      margin-right: 70px; }
      .navbar-default .navbar-bottom-part .container-fluid .navbar-left li a:hover {
        color: #e91e63; }

#bs-navbar-collapse-1 {
  padding-right: 0px; }

#lp-carousel .carousel-indicators li {
  background-color: #e3e3e3; }
  #lp-carousel .carousel-indicators li .indicator {
    font-size: 8px;
    margin-right: 6px;
    background-color: #e3e3e3; }
  #lp-carousel .carousel-indicators li .active {
    background-color: red;
    border-color: #b6b9bb;
    font-size: 8px; }
#lp-carousel .carousel-inner .item {
  position: relative; }
  #lp-carousel .carousel-inner .item .bg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    min-height: 458px; }
  #lp-carousel .carousel-inner .item .item-content {
    position: absolute;
    left: 567px;
    top: 167px;
    width: 450px; }
    #lp-carousel .carousel-inner .item .item-content .description {
      font-size: 36px;
      padding-bottom: 7px; }
      #lp-carousel .carousel-inner .item .item-content .description .description-part2 {
        margin-left: 49px; }
    #lp-carousel .carousel-inner .item .item-content .sale {
      font-size: 12px;
      color: #c2c2c2;
      padding-bottom: 36px;
      padding-left: 34px; }

.content {
  padding-top: 14px; }
  .content .picture-sm-top, .content .picture-sm-top-second, .content .picture-big-top {
    padding: 40px;
    background-color: #2aabd2;
    width: 100%;
    float: left;
    display: block; }
    .content .picture-sm-top .pic-description, .content .picture-sm-top-second .pic-description, .content .picture-big-top .pic-description {
      padding-top: 24px;
      text-align: center; }
    .content .picture-sm-top .picture, .content .picture-sm-top-second .picture, .content .picture-big-top .picture {
      text-align: center; }
  .content .picture-sm-top-second, .content .picture-big-top {
    padding: 0 70px 46px 70px;
    margin-left: 0; }
    .content .picture-sm-top-second .pic-description, .content .picture-big-top .pic-description {
      padding-bottom: 22px; }
  .content .picture-big-top {
    padding: 0 80px 46px 80px;
    float: none;
    display: block;
    height: 317px;
    overflow: hidden; }
    .content .picture-big-top .picture-big {
      text-align: center; }
    .content .picture-big-top .pic-description {
      padding-bottom: 22px; }
    .content .picture-big-top img.bg {
      width: 619px;
      min-height: 200px; }
  .content .pd {
    margin-top: 14px; }

.special-proposition {
  display: block; }
  .special-proposition .sp-pro-picture-sm {
    padding: 0 70px 46px 70px;
    background-color: red;
    width: 350px;
    float: left;
    margin-left: 10px; }
    .special-proposition .sp-pro-picture-sm .pic-description {
      padding-top: 22px; }
    .special-proposition .sp-pro-picture-sm .for-person {
      padding-top: 15px;
      color: #c2c2c2; }
    .special-proposition .sp-pro-picture-sm .picture {
      padding-top: 30px; }
    .special-proposition .sp-pro-picture-sm .pic-description, .special-proposition .sp-pro-picture-sm .for-person, .special-proposition .sp-pro-picture-sm .picture {
      text-align: center; }

.footer .one-click {
  background-color: rgba(2, 169, 255, 0.23);
  height: 73px;
  display: block; }
  .footer .one-click .text-one-click {
    padding: 29px 546px;
    display: block;
    font-size: 17px; }
.footer .bot-menu.navbar .container-fluid ul.nav {
  float: left;
  margin-left: 20px; }
  .footer .bot-menu.navbar .container-fluid ul.nav li a {
    color: #c2c2c2;
    white-space: pre-line; }
  .footer .bot-menu.navbar .container-fluid ul.nav li a.list-head {
    color: black; }

/*# sourceMappingURL=main.css.map */
