@import "base"

body
  color: black

.navbar-top-part
  padding-top: 40px

.navbar-default .navbar-nav li
  a
    color: black
    border-top: 2px solid transparent
  a.menu-ctg-top
    color: $base-color-grey

  &:hover
    border-top: 2px solid grey


