@import "base"

.navbar.navbar-default
  position: relative

  .logo
    font-family: 'CoCo', sans-serif
    padding-top: 68px
    font-size: 36px
    color: #000000
    margin: 0 auto
    width: 517px
    text-align: center

.navbar-default
  border: none
  .navbar-top-part

    .navbar-left,.navbar-right
      padding-top: 54px
      a
        color: black
        border-top: 2px solid transparent
        font-weight: 700
        &.active, &:hover
          border-color: $base-color-1
      a:last-child
        font-weight: normal


  .navbar-nav
    li
      a
        margin-right: 55px
      a.menu-ctg-top
        color: $base-color-grey

      &:last-child a
        margin-right: 24px


    span.tel-number
      font-weight: normal

  .navbar-bottom-part .container-fluid
    padding-top: 38px

    a.btn
      font-size: $base-font-size
      color: #595959
      border: none

    .navbar-left li
      a
        color: black
        font-size: $base-font-size
        font-weight: 600
        margin-right: 70px
        &:hover
          color: #e91e63


#bs-navbar-collapse-1
  padding-right: 0px

#lp-carousel
  .carousel-indicators li
    background-color: #e3e3e3
    .indicator
      font-size: 8px
      margin-right: 6px
      background-color: #e3e3e3

    .active
      background-color: red
      border-color: #b6b9bb
      font-size: 8px
  .carousel-inner
    .item
      height: 458px
      overflow: hidden
      .bg
        +img-responsive()
        width: 100%
        min-height: 458px

      .item-content
        position: absolute
        left: 0
        top: 171px
        width: 100%

        .center
          margin: 0 auto
          width: 453px
          .description
            font-size: 36px
            padding-bottom: 7px
            font-weight: 600

            .description-part2
              margin-left: 49px

          .sale
            font-size: 12px
            color: $base-color-grey
            padding-bottom: 36px
            padding-left: 34px

.content
  padding-top: 14px

  .col-lg-3.col-md-3
    overflow: hidden
  .picture-sm-top
    padding: 56px 41px 26px
    background-color: #fafafa
    //max-width: 350px
    width: 100%
    float: left
    //margin-right: 69px
    //margin-left: 20px
    display: block
    font-weight: 600


    .pic-description
      padding-top: 24px
      text-align: center

    .picture
      text-align: center

  .picture-sm-top-second
    @extend .picture-sm-top
    padding: 0 70px 48px 70px
    margin-left: 0

    .pic-description
      padding-bottom: 22px

  .picture-big-top
    @extend .picture-sm-top-second
    padding: 0 80px 46px 80px
    //max-width: 620px
    float: none
    display: block
    //margin-right: 20px
    height: 317px
    overflow: hidden

    .picture-big
      text-align: center

    .pic-description
      padding-bottom: 22px

    img.bg
      width: 100%
      min-height: 200px

  .sp-pro-picture-sm
    @extend .picture-sm-top-second

    .pic-description
      padding-bottom: 4px

    .for-person
      padding-bottom: 22px
      color: $base-color-grey
      text-align: center
      font-size: 12px
      font-weight: normal

  .sp-pro-picture-sm-second
    @extend .picture-sm-top
    padding: 27px 41px 48px

    .pic-description
      padding-top: 0px
      padding-bottom: 4px

    .for-person
      color: $base-color-grey
      text-align: center
      padding-bottom: 37px
      font-size: 12px
      font-weight: normal





.con-bottom-part

  .news
    text-align: center
    width: 428px
    float: left
    //margin-right: 75px
    //margin-left: 21px
    padding: 30px 21px 32px 30px
    background-color: red

    .news-header
      padding-bottom: 17px
      //padding-top: 30px
      font-size: 36px
      font-weight: 600

    .news-text
      padding-bottom: 59px
      font-size: 14px
      font-weight: 600

    .line
      border: 1px solid $base-color-grey
      border-top-color: transparent
      height: 8px
      width: 220px
      margin: 0 auto 27px

    .btn
      background-color: #1F87D7
      margin-bottom: 30px
      color: #ffffff
      font-size: 14px

    .news-fotter
      font-size: 10px

      span
        color: $base-color-top-menu

  .product
    display: block
    background-color: #2aabd2
    padding: 34px 28px 34px 42px

    .product-discription
      float: left
      margin-right: 0

      .for-big-kids
        padding-top: 18px
        font-size: 30px

      .pr-dis-discription
        padding-top: 30px
        width: 200px
        font-size: 14px

      .btn
        margin-top: 68px
        font-size: 14px

    .pr-dis-picture
      img.bg
        max-width: 479px
        width: 100%
        height: 266px
        overflow: hidden



















.footer
  .one-click
    background-color: rgba(2, 169, 255, 0.23)
    height: 75px
    display: block

    .text-one-click
      padding-top: 28px
      text-align: center
      display: block
      font-size: 17px
      font-weight: $base-font-weight

  .bot-menu.navbar
    .container-fluid
      ul.nav
        float: left
        padding: 0
        margin: 0


        li a
          color: $base-color-grey
          white-space: pre-line
          font-size: 12px

        li a.lucy-polly
          font-size: 12px
          color: black
          padding-bottom: 32px

        li a.list-head
          color: black
          font-size: 14px
          font-weight: $base-font-weight
          padding-bottom: 32px

        li a.list-bottom
          font-size: 10px








