@import "base"
.content
  .for-devices
    color: $base-color-top-menu
    font-size: 12px

    .shev
      color: #cfd8dc

  .product-sale

    .title
      font-size: 36px

      .name
        margin-right: 19px
        font-weight: 600
        float: left

      .new
        display: inline

      .name
        text-align: center

    .price
      font-size: 18px
      padding-top: 22px

    .big-picture
      float: left
      margin-right: 117px
      padding-top: 63px

    .product-sale-dis
      padding-top: 63px

      .main-char

        .dis
          font-size: 12px

          .mar
            margin-right: 112px




